<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
</head>

<div class="container-fluid text-right"><a
        href="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/templates/photoproject_app/editprofile.html">Edit
        View</a> | <a
        href="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/templates/photoproject_app/index.html">Logout</a>
</div>
<nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light ">


    <div class="container-fluid collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto w-100 bg-dark rounded">

            <li class="nav-item active w-50 border border-dark text-center rounded ">
                <a class="nav-link text-white underline"
                    href="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/templates/photoproject_app/profile.html">
                    My Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item w-50 border border-dark text-center rounded">
                <a class="nav-link text-white"
                    href="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/templates/photoproject_app/photos.html">Photos</a>
            </li>

            <li class="nav-item w-50 border border-dark text-center rounded">
                <a class="nav-link text-white"
                    href="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/templates/photoproject_app/search.html">Search</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid row pl-4 m-3">
    <form class="container-fluid col-6 row" method="post">
        <input class="form-control w-75 ml-5 rounded" type="text" placeholder="search for a location">

        <button class="button btn-dark rounded" type="submit">Search</button>
    </form>
    <form class="container-fluid col-5 row ml-5 pl-3 pull-right" method="post">

        <input class="form-control w-75 ml-5 rounded" type="text" placeholder="search for a user">
        <button class="button btn-dark rounded" type="submit">Search</button>
    </form>
</div>

<div class="h-100 container-fluid col-11 text-center row mt-3" style="margin-left: 8%;">
    <!-- Button trigger modal -->
    <button type="button" class="container h-25 m-1 col-2 rounded pb-3 pt-3 btn btn-dark" data-toggle="modal"
        href="#exampleModal">
        <!--when in django, user datatarget instead of href=""-->
        <img class="img-fluid rounded"
            src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/bryce.jpg">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Picture title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid rounded"
                        src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/bryce.jpg">
                    <img class="img-fluid col-7 rounded mt-3 mb-3"
                        src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/location.png">
                    <div>Description:</div>
                    <div>Test text because Google won't stop trying to translate my Lorem IpsumTest text because Google
                        won't stop trying to translate my Lorem IpsumTest text because Google won't stop trying to
                        translate my Lorem Ipsum</div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark"><a href="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/templates/photoproject_app/profile.html">View Photographer</a></button>
                </div>
            </div>
        </div>
    </div>
    <!--End Modal-->

    <!-- Button trigger modal -->
    <button type="button" class="container h-25 m-1 col-2 rounded pb-3 pt-3 btn btn-dark" data-toggle="modal"
        href="#exampleModal1">
        <!--when in django, user datatarget instead of href=""-->
        <img class="img-fluid rounded"
            src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/cratelake.jpg">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Picture title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid rounded"
                        src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/cratelake.jpg">
                    <img class="img-fluid col-7 rounded mt-3 mb-3"
                        src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/location.png">
                    <div>Description:</div>
                    <div>Test text because Google won't stop trying to translate my Lorem IpsumTest text because Google
                        won't stop trying to translate my Lorem IpsumTest text because Google won't stop trying to
                        translate my Lorem Ipsum</div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark"><a href="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/templates/photoproject_app/profile.html">View Photographer</a></button>
                </div>
            </div>
        </div>
    </div>
    <!--End Modal-->

    <!-- Button trigger modal -->
    <button type="button" class="container h-25 m-1 col-2 rounded pb-3 pt-3 btn btn-dark" data-toggle="modal"
        href="#exampleModal2">
        <!--when in django, user datatarget instead of href=""-->
        <img class="img-fluid rounded"
            src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/hk.JPG">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Picture title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid rounded"
                        src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/hk.JPG">
                    <img class="img-fluid col-7 rounded mt-3 mb-3"
                        src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/location.png">
                    <div>Description:</div>
                    <div>Test text because Google won't stop trying to translate my Lorem IpsumTest text because Google
                        won't stop trying to translate my Lorem IpsumTest text because Google won't stop trying to
                        translate my Lorem Ipsum</div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark"><a href="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/templates/photoproject_app/profile.html">View Photographer</a></button>
                </div>
            </div>
        </div>
    </div>
    <!--End Modal-->

    <!-- Button trigger modal -->
    <button type="button" class="container h-25 m-1 col-2 rounded pb-3 pt-3 btn btn-dark" data-toggle="modal"
        href="#exampleModal3">
        <!--when in django, user datatarget instead of href=""-->
        <img class="img-fluid rounded"
            src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/portland.jpg">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Picture title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid rounded"
                        src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/portland.jpg">
                    <img class="img-fluid col-7 rounded mt-3 mb-3"
                        src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/location.png">
                    <div>Description:</div>
                    <div>Test text because Google won't stop trying to translate my Lorem IpsumTest text because Google
                        won't stop trying to translate my Lorem IpsumTest text because Google won't stop trying to
                        translate my Lorem Ipsum</div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark"><a href="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/templates/photoproject_app/profile.html">View Photographer</a></button>
                </div>
            </div>
        </div>
    </div>
    <!--End Modal-->


    <!-- Button trigger modal -->
    <button type="button" class="container h-25 m-1 col-2 rounded pb-3 pt-3 btn btn-dark" data-toggle="modal"
        href="#exampleModal4">
        <!--when in django, user datatarget instead of href=""-->
        <img class="img-fluid rounded"
            src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/seattle.jpg">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Picture title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid rounded"
                        src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/seattle.jpg">
                    <img class="img-fluid col-7 rounded mt-3 mb-3"
                        src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/location.png">
                    <div>Description:</div>
                    <div>Test text because Google won't stop trying to translate my Lorem IpsumTest text because Google
                        won't stop trying to translate my Lorem IpsumTest text because Google won't stop trying to
                        translate my Lorem Ipsum</div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark"><a href="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/templates/photoproject_app/profile.html">View Photographer</a></button>
                </div>
            </div>
        </div>
    </div>
    <!--End Modal-->

    <!-- Button trigger modal -->
    <button type="button" class="container h-25 m-1 col-2 rounded pb-3 pt-3 btn btn-dark" data-toggle="modal"
        href="#exampleModaluser">
        <!--when in django, user datatarget instead of href=""-->
        <img class="img-fluid rounded"
            src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/profile.jpg">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModaluser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Daryl Kwong</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid rounded"
                        src="/Users/darylkwong/Desktop/Coding-Dojo/CodingDojo Practice/python_stack/django/django_intro/photoproject/apps/photoproject_app/static/photoproject_app/images/profile.jpg">
                    <div>Description:</div>
                    <div>Test text because Google won't stop trying to translate my Lorem IpsumTest text because Google
                        won't stop trying to translate my Lorem IpsumTest text because Google won't stop trying to
                        translate my Lorem Ipsum</div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark">View Profile</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Modal-->



</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>