<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
</head>

<body>
    <div class="container-fluid center bg.info">
        <form action="/users" method="POST">

            Name:<br><input type="text" name="name" value="name"><br>
            age:<br><input type="text" name="age" value="age"><br>
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">

        </form>
    </div>



</body>

</html>