<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
    </head>
    
    <body>
    
        <div class="container-fluid ">
            <div class="col-md-6">Name: <%= content.name %></div>
            <div class="col-md-6">Dojo Location: <%= content.location %></div>
            <div class="col-md-6">Favorite Language: <%= content.language %></div>
            <div class="col-md-6">Comments: <%= content.comments %></div>
            <a class="nav-link" href="/">
            <div class="col-md-3"><a href="/"><input class="btn btn-outline-success my-2 my-sm-0 float-right" type="button"
                    value="Back"></div></a>
            
        </div>
    
    
    
    </body>