<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container center-block text-center">
    <div class=" border border-dark centered mb-4" style="height: 80px;">
        <h4>The current time and date</h4>

    </div>

    <div class="border center-block border-dark" style="height: 120px">
       
          <h1>  {{currtime | date:"D-d-M-Y H:i"}}</h1>
        

    </div>

</div>