<div *ngIf="replyerrors">
        <div *ngFor="let error of replyerrors">
            {{error}}
        </div>
    </div>
    <div *ngIf=customer>
        {{customer.customer.name}}

    <form (submit)="editCustomer(editcustomer.value)" #editcustomer="ngForm">
        Name:<input type="text" name="name" [ngModel]="customer?.customer.name" value="{{customer.customer.name}}"/><p></p>
        Company:<input type="text" name="company" [ngModel]="customer?.customer.company" value="{{customer.customer.company}}" /><p></p>
        Location:<input type="text" name="location" [ngModel]="customer?.customer.location" value="{{customer.customer.location}}" /> <p></p>
        <input class="btn btn-dark" type="submit" value="Edit Customer"/>
    </form>
    
    </div>
