<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
</head>

<body>

    <div class="container-fluid  text-center ">
        <div class="text-dark text-center bg-success" style="width: 60%; margin-left: 20%; {{session['valid']|safe}}">
            </div>
            <h1>Welcome, you've been logged in {{users[0]['first_name']}}:</h1>
            <hr>
            

            <a href="/d"><button>Logout</button></a>
            
        
        </div>



</body>

</html>