

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
</head>

<div class="container-fluid ml-5 row">
    <div class="col-10">
        <!--header-->
        <h1>Welcome, {{user.first_name}}</h1>
        <hr>
    </div>
    <a class="text-right ml-3" href="/logout">Log out</a> <a class="text-right ml-3" href="/books">Back</a>
    <div class="col-4 m-3 pull-right">

        <div class="">

            <h1>{{book.title}}</h1>
            <h5>Added by: {{user.first_name}}{{user.last_name}}</h5>
            <h5>Added on: {{book.created_at}}</h5>
            <h5>Last updated on: {{book.updated_at}}</h5>
        </div>

    </div>
    <div class="col-5 ml-2 mt-3 ">
        <h1>Users Who Like This Book:</h1>
        {%for user in book.users_who_like.all %}
        <ul>
        <div class="row text-center ml-5">
            <li>{{user.first_name}} {{user.last_name}}</li>
            {%if user.id == request.session.id%}
            <a class="ml-4" href="/unfavorite/{{book.id}}">Un-Favorite</a>
            {%endif%}
        </div>
        </ul>
        {%endfor%}
        {%if not user in book.users_who_like.all%}
        <a class="" href="/addfavorite/{{book.id}}">Add to Favorites</a>
        {%endif%}

    </div>


</div>