<h5>All Customers</h5>
<div *ngIf="customers">
        <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Company</th>
                        <th scope="col">Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers.customers">
                        <td> {{customer.name}}</td>
                        <td> {{customer.company}}</td>
                        <td> {{customer.location}}</td>
                        <td><button class="btn btn-dark rounded m-2"><a class="text-white m-2" routerLink="/customers/{{customer._id}}/orders">View Orders</a></button> 
                            <a class="btn btn-dark text-white m-2" (click)="deleteCustomer(customer)">Delete Customer</a>
                        
                        </td>
    
                    </tr>

                </tbody>
            </table>
            <div style="height: 500px; width: 300px;">
                <agm-map [zoom]='zoom' [latitude]='latitude' [longitude]='longitude' style="height: 50vh;">
                <agm-marker [latitude]='latitude' [longitude]='longitude'></agm-marker>
                </agm-map>

            </div>


</div>
<button class="btn btn-dark rounded m-2" ><a class="text-white m-2" routerLink="/customers/new"> Add Customer</a></button>