<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
</head>
<div class="container-fluid text-center ">
    <div class="text-info text-center bg-danger" style="width: 60%; margin-left: 20%; {{session['invalid']}}">

        {% with messages = get_flashed_messages() %}     
        <!-- declare a variable called messages -->
        {% if messages %}                            
        <!-- check if there are any messages -->
        {% for message in messages %}            
        <!-- loop through the messages -->
            <p>{{message}}</p>                   
        <!-- display each message in a paragraph tag -->
                {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <body>
        <div class="container-fluid center bg.info">
            <form action="/process" method="POST">
                <!--links to processing page that redirects to the results-->
                email:<br><input type="text" name="email"><br>
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">

            </form>
        </div>
</div>


</body>

</html>